body {
	color : #000000;
}

.container {
	margin-top : 20px;	
}

#videoElement, #c {
	border : solid 1px black;
	width: 640px;
	height: 480px;
	background-color: #666;
}

.btn-gosecuri {
	color : #000000;
	background-color : #379EC1;
}

.picture {
	border : solid 1px black;
	height : 350px;;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#loginButton {
	display: none;
	margin-top : 20px;
}